.custom_style{
    width: 20rem;
    height: 10rem;
}

/* styles.css */
/* Customize the slider track (bar) */
input[type="range"] {
    -webkit-appearance: none;
    height: 4px; /* Customize the height as needed */
    background: red; /* Set the background color for the track */
    outline: none;
    opacity: 0.7; /* Adjust the opacity as needed */
    transition: opacity 0.2s;
  }
  
  /* Customize the slider thumb (thumb) */
  input[type="range"]::-webkit-slider-thumb {
    /* -webkit-appearance: none; */
    width: 20px; /* Customize the width of the thumb */
    height: 20px; /* Customize the height of the thumb */
    background: green; /* Set the background color for the thumb */
    /* color: red; */
    /* border: 2px solid #ffffff; Set the border color */
    border-radius: 50%;
    cursor: pointer;
    /* transition: background 0.2s; */
  }

  .item{
    align-items: center;
  }
  
 